<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    
    <title>yang guide_page</title>
    
    <!-- Favicon - 파비콘 (주소창 영역 아이콘) -->
    <link rel="Shortcut Icon" href="#"/>
    
    <!-- Css -->
    <link rel="stylesheet" href="./resources/css/common.css" media="all" />
	<link rel="stylesheet" href="./resources/css/style.css" media="all" />

    <!-- Javascript -->
    <script src="./resources/js/lib/jquery-1.12.4.min.js"></script>
	<script src="./resources/js/lib/jquery-migrate-1.4.1.min.js"></script>
    <script src="./resources/js/lib/jquery-ui-1.12.1.min.js"></script>
    
    <script src="./resources/js/plugins.js"></script>
    <script src="./resources/js/basic.js"></script>
   
    <!-- Guide_style -->
    <style type="text/css">
        .main-block{
            box-shadow: 1px 1px 3px rgba(0,0,0,0.13);
            border: 1px solid #c4c4c4;
            margin-bottom: 15px;
            background: #fff;
            border-radius: 3px;
            -webkit-border-radius: 3px;
        }
        .main-block .header {
            padding: 10px;
            background-color: #f7f7f7;
            border-bottom: 1px solid #dadada;
            border-radius: 3px 3px 0 0;
            -webkit-border-radius: 3px 3px 0 0;
        }
        .main-block .content {
            padding: 10px;
        }
    </style>
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="resources/js/lib/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Wrap -->
    <div id="wrap">
        <!-- Header -->
        <header>
            
        </header>
        <!-- //Header -->
        
        <!-- container -->
        <div id="container">
            <!-- contents -->
            <section id="contents">
                <h1 class="mt15 mb15">Guide(가이드)</h1>
                <section id="guide">
                    <div class="main-block">
                        <div class="header"><h2>버튼(button)</h2></div>
                        <div class="content">
                            <h3 class="mb15">타입</h3>
                            <p class="mb15">  
								<div>
									<input type="button" class="btn btn-white" value="input(button)">
									<a href="#" class="btn btn-white">a태그</a>
									<button class="btn btn-white">button</button>
								</div>
								<div class="mt15">
									<a href="#" class="btn btn-white">btn</a>
									<a href="#" class="btn_classic btn-white">btn_classic</a>
									<a href="#" class="button btn-white">button</a>
									<a href="#" class="btn_radius btn-white">btn-radius</a>
                                </div>
                                <div class="mt15">
                                    
                                </div>  

                            </p>
                            <h3 class="mt15 mb15">색상</h3>
                            <div class="mb15">
                            	<p class="mb15">
									<input type="button" class="btn btn-white" value="btn-white">
									<input type="button" class="btn btn-black btn_bg" value="btn-black">
									<input type="button" class="btn btn-green" value="btn-green">
									<input type="button" class="btn btn-purple" value="btn-purple">
									<input type="button" class="btn btn-orange" value="btn-orange">
								</p>
								<p class="mb15">
									<input type="button" class="btn btn-pink" value="btn-pink">
									<input type="button" class="btn btn-turquoise" value="btn-turquoise">
									<input type="button" class="btn btn-yellowGreen" value="btn-yellowGreen">
									<input type="button" class="btn btn-lightBlue" value="btn-lightBlue">
									<input type="button" class="btn btn-blue" value="btn-blue">
								</p>
								<p>
									<input type="button" class="btn btn-red" value="btn-red">
									<input type="button" class="btn btn-darkRed" value="btn-darkRed">
									<input type="button" class="btn btn-yellow" value="btn-yellow">
									<input type="button" class="btn btn-gray" value="btn-gray">
									<input type="button" class="btn btn-lightGray" value="btn-lightGray">
									<input type="button" class="btn btn-darkGray" value="btn-darkGray">
								</p>
							</div>
                      		<h3 class="mb15">색상 - Border</h3>
                       		<div>
                            	<p class="mb15">
									<input type="button" class="btn btn-bg-white" value="btn-bg-white">
									<input type="button" class="btn btn-bg-black" value="btn-bg-black">
									<input type="button" class="btn btn-bg-green" value="btn-bg-green">
									<input type="button" class="btn btn-bg-purple" value="btn-bg-purple">
									<input type="button" class="btn btn-bg-orange" value="btn-bg-orange">
								</p>
								<p class="mb15">
									<input type="button" class="btn btn-bg-pink" value="btn-bg-pink">
									<input type="button" class="btn btn-bg-turquoise" value="btn-bg-turquoise">
									<input type="button" class="btn btn-bg-yellowGreen" value="btn-bg-yellowGreen">
									<input type="button" class="btn btn-bg-lightBlue" value="btn-bg-lightBlue">
									<input type="button" class="btn btn-bg-blue" value="btn-bg-blue">
								</p>
								<p>
									<input type="button" class="btn btn-bg-red" value="btn-bg-red">
									<input type="button" class="btn btn-bg-darkRed" value="btn-bg-darkRed">
									<input type="button" class="btn btn-bg-yellow" value="btn-bg-yellow">
									<input type="button" class="btn btn-bg-gray" value="btn-bg-gray">
									<input type="button" class="btn btn-bg-lightGray" value="btn-bg-lightGray">
									<input type="button" class="btn btn-bg-darkGray" value="btn-bg-darkGray">
								</p>
							</div>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="header"><h2>label</h2></div>
                        <div class="content">
                            <h3 class="mb15">색상</h3>
                            <p class="mb15">
                                <span class="label label-primary">primary</span>
                                <span class="label label-secondary">secondary</span>
                                <span class="label label-success">success</span>
                                <span class="label label-danger">danger</span>
                                <span class="label label-info">info</span>
                            </p>
                            <p class="mb15">
                                <span class="label label-warning">warning</span>
                                <span class="label label-red">red</span>
                                <span class="label label-purple">purple</span>
                                <span class="label label-pink">pink</span>
                                <span class="label label-yellow">yellow</span>
                            </p>
                            <p>
                                <span class="label label-orange">orange</span>
                                <span class="label label-turquoise">turquoise</span>
                                <span class="label label-blue">blue</span>
                                <span class="label label-black">black</span>
                                <span class="label label-white">white</span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="main-block">
                        <div class="header"><h2>input 타입</h2></div>
                        <div class="content">
                            <h3 class="mb15">text</h3>
                            <p class="mb15">  
                                <input type="text" placeholder="내용" title="내용">
                                <input type="text" placeholder="내용" title="내용" readonly>
                                <input type="text" placeholder="내용" title="내용" disabled>
                            </p>
                            <h3 class="mb15">checkbox</h3>
                            <p class="mb15">
                                <label class="checkbox">
                                    <input name="checkbox" type="checkbox" checked="checked" />
                                    <span class="lbl">checkbox1</span>
                                </label>
                                <label class="checkbox">
                                    <input name="checkbox" type="checkbox" />
                                    <span class="lbl">checkbox2</span>
                                </label>
                                <label class="checkbox">
                                    <input name="checkbox" type="checkbox" disabled="disabled" />
                                    <span class="lbl">checkbox3</span>
                                </label>
                            </p>
                            <h3 class="mb15">radio</h3>
                            <p class="mb15">  
                                <label class="radio">
                                    <input name="radio1" type="radio" checked="checked" />
                                    <span class="lbl">radio1</span>
                                </label>
                                <label class="radio">
                                    <input name="radio1" type="radio"/>
                                    <span class="lbl">radio2</span>
                                </label>
                                <label class="radio">
                                    <input name="radio" type="radio" disabled="disabled" />
                                    <span class="lbl">radio3</span>
                                </label>
                            </p>
                            <h3 class="mb15">file</h3>
                            <p>  
                                <input type="file">
                            </p>
                            <br />
                            <p class="inp_file">
                                <input type="text" placeholder="첨부파일을 선택해주세요." title="첨부파일 선택" readonly="readonly">
                                <span class="btn_file">
                                    <a href="#" class="button btn-white">파일찾기</a>
                                    <input type="file" placeholder="내용입력" title="파일첨부">
                                </span>
                            </p>
                            <br />
                            <span class="inp_file">
                                <input type="text" placeholder="첨부파일을 선택해주세요." title="첨부파일 선택" readonly="readonly">
                                <span class="btn_file">
                                    <a href="#" class="button btn-white">파일찾기</a>
                                    <input type="file" placeholder="내용입력" title="파일첨부">
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="header"><h2>form 폼</h2></div>
                        <div class="content">
                            <h3 class="mb15">textarea</h3>
                            <p class="mb15">  
                                <textarea placeholder="내용" title="내용"></textarea>
                            </p>
                            <p class="mb15">  
                                <textarea placeholder="내용" title="내용" disabled></textarea>
                            </p>
                            <h3 class="mb15">select</h3>
                            <p class="mb15">
                               <select title="옵션">
                                   <option>옵션</option>
                                   <option>옵션</option>
                                   <option>옵션</option>
                                   <option>옵션</option>
                                   <option>옵션</option>
                               </select>
                               <select title="옵션" disabled>
                                   <option>옵션</option>
                                   <option>옵션</option>
                                   <option>옵션</option>
                                   <option>옵션</option>
                                   <option>옵션</option>
                               </select>
                            </p>
                            <h3 class="mb15">spinner</h3>
                            <p class="mb15">   
                                <p class="mb15"><input type="text" class="spinner" value="1" title="수량입력" /></p>
                            </p>
                            <h3 class="mb15">datepicker</h3>
                            <p class="mb15">  
                                <span class="datepicker_wrap">
                                    <input type="text" class="datepicker" title="calendar" />
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="header"><h2>table</h2></div>
                        <div class="content">
                            <h3 class="mb15">기본</h3>
                            <div class="tb-responsive mb15">
                                <table class="tb_basic">
                                    <colgroup>
										<col>
                                   		<col>
                                   		<col>
                                   		<col>
                                   		<col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>헤드</th>
                                            <th>헤드</th>
                                            <th>헤드</th>
                                            <th>헤드</th>
                                            <th>헤드</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>내용</td>
                                            <td>내용</td>
                                            <td>내용</td>
                                            <td>내용</td>
                                            <td>내용</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h3 class="mb15">기본 Type02</h3>
                            <table class="tb_basic02 mb15">
                                <colgroup>
									<col>
									<col>
									<col>
									<col>
                               		<col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3 class="mb15">기본 Type03</h3>
                            <table class="tb_basic03 mb15">
                                <colgroup>
									<col>
									<col>
									<col>
									<col>
                               		<col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3 class="mb15">table_white</h3>
                            <table class="tb_basic_w mb15">
                                <colgroup>
									<col>
									<col>
									<col>
									<col>
                               		<col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3 class="mb15">table_striped</h3>
                            <table class="tb_basic_striped mb15">
                                <colgroup>
									<col>
									<col>
									<col>
									<col>
                               		<col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                        <th>헤드</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                    </tr>
                                    <tr>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                        <td>내용</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3 class="mb15">table_row</h3>
                            <table class="tb_basic_row">
                                <colgroup>
                                    <col style="width:20%">
                                    <col style="width:80%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>헤드</th>
                                        <td>내용</td>
                                    </tr>
                                    <tr>
                                        <th>헤드</th>
                                        <td>내용</td>
                                    </tr>
                                    <tr>
                                        <th>헤드</th>
                                        <td>내용</td>
                                    </tr>
                                    <tr>
                                        <th>헤드</th>
                                        <td>내용</td>
                                    </tr>
                                    <tr>
                                        <th>헤드</th>
                                        <td>내용</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="header"><h2>alerts</h2></div>
                        <div class="content">
                            <h3 class="mb15">타입</h3>
                            <div class="alert alert-success" role="alert">
                                <strong>Well done!</strong>
                                You successfully read this important alert message.
                            </div>
                            <div class="alert alert-info" role="alert">
                                <strong>Well done!</strong>
                                You successfully read this important alert message.
                            </div>
                            <div class="alert alert-warning" role="alert">
                                <strong>Well done!</strong>
                                You successfully read this important alert message.
                            </div>
                            <div class="alert alert-danger" role="alert" style="margin-bottom:15px">
                                <strong>Well done!</strong>
                                You successfully read this important alert message.
                            </div>
                            <div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom:0">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <strong>Warning!</strong> Better check yourself, you're not looking too good.
                            </div>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="header"><h2>box</h2></div>
                        <div class="content">
                            <h3 class="mb15">타입</h3>
                            <p class="mb15">  
                                <div class="box_st">texttexttexttexttexttexttexttexttexttexttext</div>
                            </p>
                            <p class="mb15">  
                                <div class="box_st2">
                                    <div class="box_head"><h2>head</h2></div>
                                    <div class="box_cont">
                                        texttexttexttexttexttexttexttexttexttexttext
                                    </div>
                                </div>
                            </p>
                            <p class="mb15">  
                                <div class="box_st3">texttexttexttexttexttexttexttexttexttexttext</div>
                            </p>
                            <p>  
                                <div class="box_st4">
                                    <div class="box_head"><h2>head</h2></div>
                                    <div class="box_cont">
                                        texttexttexttexttexttexttexttexttexttexttext
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="header"><h2>progressbars</h2></div>
                        <div class="content">
                            <h3 class="mb15">기본</h3>
                            <p class="mb15">  
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                  </div>
                                </div>
                            </p>
                            <h3 class="mb15">기본_라벨포함</h3>
                            <p class="mb15">  
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    60%
                                  </div>
                                </div>
                            </p>
                            <h3 class="mb15">기본_라벨포함(mini)</h3>
                            <p class="mb15">  
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                                    0%
                                  </div>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
                                    2%
                                  </div>
                                </div>
                            </p>
                            <h3 class="mb15">색상</h3>
                            <p>  
                                <div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                  </div>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    <span class="sr-only">20% Complete</span>
                                  </div>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                  </div>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                            </p>
                            <h3 class="mb15">줄무늬</h3>
                            <p>  
                                <div class="progress">
                                  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                  </div>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    <span class="sr-only">20% Complete</span>
                                  </div>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                  </div>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                            </p>
                            <h3 class="mb15">Animated</h3>
                            <p>  
                                <div class="progress" style="margin-bottom:0">
                                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                    <span class="sr-only">45% Complete</span>
                                  </div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="header"><h2>tab</h2></div>
                        <div class="content">
                            <h3 class="mb15">Type A(기본)</h3>
                            <div>
                                <ul class="tabmenu tabMotion">
                                    <li><a href="#tabCon1">메뉴1</a></li>
                                    <li><a href="#tabCon2">메뉴2</a></li>
                                    <li><a href="#tabCon3">메뉴3</a></li>
                                </ul>
                                <div id="tabCon1" class="tab_cont">탭내용1</div>
                                <div id="tabCon2" class="tab_cont">탭내용2</div>
                                <div id="tabCon3" class="tab_cont">탭내용3</div>    
                            </div>
                            <h3 class="mb15">Type B</h3>
                            <div>
                                <ul class="tabmenu noline tabMotion">
                                    <li class="on"><a href="#tabCon4">메뉴1</a></li>
                                    <li><a href="#tabCon5">메뉴2</a></li>
                                </ul>
                                <div id="tabCon4" class="tab_cont">탭내용1</div>
                                <div id="tabCon5" class="tab_cont">탭내용2</div>    
                            </div>
                            <h3 class="mb15">Type C</h3>
                            <div>
                                <ul class="tabmenu2 tabMotion">
                                    <li class="on"><a href="#tabCon6">메뉴1</a></li>
                                    <li><a href="#tabCon7">메뉴2</a></li>
                                    <li><a href="#tabCon8">메뉴3</a></li>
                                </ul>
                                <div id="tabCon6" class="tab_cont">탭내용1</div>
                                <div id="tabCon7" class="tab_cont">탭내용2</div>
                                <div id="tabCon8" class="tab_cont">탭내용3</div>    
                            </div>
                            <div class="t_center">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="main-block">
                        <div class="header"><h2>layerPopup</h2></div>
                        <div class="content">
                            <h3 class="mb15">버튼</h3>
                            <p>레이어팝업 호출시 pop_open 클래스 사용시: href값의 타켓팝업의 id 값 넣어줌
                                <br /><br /> 
                                <a href="#popup" class="btn bg_gray pop_open">팝업 열기</a>
                            </p>
                                <br />
                                <br />
                            <p>
                                레이어팝업 호출시 layerShow 함수 사용시
                                <br /><br />
                                <button class="btn bg_gray" onclick="layerShow('#popup')">팝업 열기</button>
                            </p>
                        </div>
                    </div>
                </section>
            </section>
            <!-- //contents -->
        </div>
        <!-- //container -->
        
        <!-- Footer -->
        <footer>
            
        </footer>
        <!-- //Footer -->
    </div>
    <!-- //Wrap -->

    <!-- pop_layer -->
    <div id="popup" class="pop_bg">
        <article class="pop_wrap">
            <h1>카테고리생성</h1>
            <div class="pop_cont">
                <p>내용<br/>내용</p>
                <p class="t_center mt20">
                    <a href="#" class="button w72 btn_gray pop_close">취소</a>
                    <a href="#" class="button w72 btn_red" onclick="layerHide('#popup')">등록</a>
                </p>
            </div>
            <!-- 팝업을 닫을때는 .pop_close 클래스를 활용 하거나, popupHide 함수 활용 -->
            <a href="#" class="btn_close pop_close">닫기</a>
        </article>
    </div>
</body>
</html>